# 1. Chặn toàn bộ các FILE mặc định ở mọi ngóc ngách, giữ lại cấu trúc thư mục gốc
**/*

# 2. Cho phép Git đi vào các thư mục quản lý Microservices
!**/

# 3. Giữ lại các file cấu hình quan trọng ở thư mục gốc
!.gitattributes
!.gitignore

# 4. Giữ lại toàn bộ mã nguồn và file cấu hình Maven của Microservices
!**/src/**
!**/resources/**
!**/pom.xml
!**/mvnw
!**/mvnw.cmd
!**/.mvn/
!**/.mvn/wrapper/maven-wrapper.jar
!**/.mvn/wrapper/maven-wrapper.properties
!food-delivery-backend/README.md
!food-delivery-backend/.github/
!food-delivery-backend/.github/**
!food-delivery-backend/config-repo/
!food-delivery-backend/config-repo/**

# 5. Giữ lại các file cấu hình Docker
!**/docker-compose.yml
!**/docker-compose.infra.yml
!**/**.yaml.template
!**/**.yml.template

# 6. Loại bỏ hoàn toàn các file rác sinh ra do IDE và khi Build
**/.idea/
**/.vscode/
**/*.iml
**/.classpath
**/.project
**/.settings/
**/.factorypath
**/target/
**/bin/
