apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://food-delivery-prometheus:${PROMETHEUS_PORT}
    isDefault: true
    jsonData:
      httpMethod: POST
    editable: true

  - name: Loki
    type: loki
    access: proxy
    url: http://food-delivery-loki:${LOKI_PORT}
    editable: true
    jsonData:
      maxLines: 1000
      derivedFields:
        - name: "View Service Metrics"
          selectInternalResult: true
          internalLinkDataSourceName: "Prometheus"
          internalLinkMode: "Explore"
          matcherRegex: "container_name=(?:\"([^\" ]+)\"|([^\" ]+))"
          urlDisplayLabel: "Xem biểu đồ hiệu suất Service"